<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugin.localnotification"
    version="1.0.0">

    <name>Local Notification</name>

    <asset src="www/LocalNotification.js" target="LocalNotification.js" />

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.phonegap.plugin.localnotification.LocalNotification"
                      android:label="@string/app_name">
                <intent-filter>
                </intent-filter>
            </activity>
            <receiver android:name="com.phonegap.plugin.localnotification.AlarmReceiver" >
            </receiver>
		
            <receiver android:name="com.phonegap.plugin.localnotification.AlarmRestoreOnBoot" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*/plugins">
            <plugin name="LocalNotification"
                value="com.phonegap.plugin.localnotification.LocalNotification" />
        </config-file>

        <source-file src="src/android/AlarmHelper.java"
            target-dir="src/com/phonegap/plugin/localnotification" />
        <source-file src="src/android/AlarmOptions.java"
            target-dir="src/com/phonegap/plugin/localnotification" />
        <source-file src="src/android/AlarmReceiver.java"
            target-dir="src/com/phonegap/plugin/localnotification" />
        <source-file src="src/android/AlarmRestoreOnBoot.java"
            target-dir="src/com/phonegap/plugin/localnotification" />
        <source-file src="src/android/LocalNotification.java"
            target-dir="src/com/phonegap/plugin/localnotification" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="LocalNotification"
            string="LocalNotification" />

        <header-file src="src/ios/LocalNotification.h" />
        <source-file src="src/ios/LocalNotification.m" />
    </platform>
</plugin>
