<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.localnotification"
    version="1.0.1">

    <name>LocalNotification</name>

    <js-module src="www/LocalNotification.js" name="LocalNotification">
      <clobbers target="LocalNotification" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.phonegap.plugins.localnotification.LocalNotification"
                      android:label="@string/app_name">
                <intent-filter>
                </intent-filter>
            </activity>
            <receiver android:name="com.phonegap.plugins.localnotification.AlarmReceiver" >
            </receiver>
		
            <receiver android:name="com.phonegap.plugins.localnotification.AlarmRestoreOnBoot" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature  name="LocalNotification">
                <param name="android-package" value="com.phonegap.plugins.localnotification.LocalNotification"/>
            </feature>
        </config-file>

        <source-file src="src/android/AlarmHelper.java"
                target-dir="src/com/phonegap/plugins/localnotification" />
        <source-file src="src/android/AlarmOptions.java"
                target-dir="src/com/phonegap/plugins/localnotification" />
        <source-file src="src/android/AlarmReceiver.java"
                target-dir="src/com/phonegap/plugins/localnotification" />
        <source-file src="src/android/AlarmRestoreOnBoot.java"
                target-dir="src/com/phonegap/plugins/localnotification" />
        <source-file src="src/android/LocalNotification.java"
                target-dir="src/com/phonegap/plugins/localnotification" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature  name="LocalNotification">
                <param name="ios-package" value="LocalNotification"/>
            </feature>
        </config-file>

        <plugins-plist key="LocalNotification"
                    string="LocalNotification" />

        <header-file src="src/ios/LocalNotification.h" />
        <source-file src="src/ios/LocalNotification.m" />
    </platform>
</plugin>
